/* Main dimensions & fonts */

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 0;
    padding-bottom: 120px;
    font-size: 16px;
    background-color: #FFFFFD;
    font-family: 'Segoe UI', 'Segoe WP Light', 'Segoe WP', Tahoma, Arial, sans-serif;
}

blockquote {
    font-size: 15px;
}

p, #toc, div.post {
    line-height: 24px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI Light", "Segoe WP Light", "Segoe UI", "Segoe WP", "Open Sans", Tahoma, Arial, sans-serif;
    font-weight: normal;
}

.post {
    padding-left: 20px;
    padding-right: 20px;
}

/* Navbar */

#nav {
    background: #2b579a;
    border: 0;
    font-size: larger;
}

#nav .navbar-right .dropdown-menu {
    left: 0;
    right: auto;
}

#nav .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

#nav .panel-title, #nav .panel-title a, #nav .panel-body a {
    color: white;
    font-variant: small-caps;
}

#nav .panel {
    margin-bottom: 10px;
}

#nav .panel-body {
    padding: 0 15px;
}

#nav .panel, #nav .panel-heading {
    background-color: inherit;
    border: 0;
}

#nav .panel-title p {
    margin: 0;
}

#nav .panel-title a {
    position: absolute;
    left: 46px;
}

#nav .nav-pills a {
    padding-left: 30px;
}

#nav .panel-primary, #nav .panel-primary .panel-title, #nav .panel-primary a, #nav .panel-body li.active, #nav .panel-body li.active a {
    color: darkorange;
    background-color: inherit;
}

#nav li > a:hover, #nav > li > a:focus {
    background-color: inherit;
    text-decoration: underline;
}

#nav .navmenu-brand {
    font-family: 'Lora', serif;
    font-size: xx-large;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 25px 0;
    color: #A1A1A1;
}

#navbarToggle {
    width: 70px;
    border: none;
}

@media (max-width: 992px) {
    #navbarToggle .navbar-toggle {
        display: block;
    }

    main {
        padding-left: 100px;
    }

    footer {
        width: 100%;
        padding-left: 70px;
    }
}

@media (min-width: 992px) {
    body {
        padding-left: 300px;
    }

    footer {
        width: calc(100% - 300px);
    }

    #navbarToggle {
        display: none !important;
    }
}

/* Footer */

#bootstrap-overrides footer {
    font-size: smaller;
    color: #f6f6f6;
    bottom: 0;
}

#bootstrap-overrides footer a {
    color: #f6f6f6;
}

#bootstrap-overrides footer .footer-item {
    padding: 0 23px;
}

footer .navbar {
    padding-top: 15px;
    background: #56504a;
    min-height: 35px;
    margin: 0;
    border: 0;
    vertical-align: middle;
}

/* Footnotes */

a.footnote-return {
    margin-left: 5px;
}

.footnote-ref > a:before {
    content: "[";
}

.footnote-ref > a:after {
    content: "]";
}

/* MathJax */

code.has-jax {
    font: inherit;
    font-size: 100%;
    background: inherit;
    border: inherit;
    color: #515151;
}

/* Code Highlighting */

pre {
    background-color: white;
}

.hljs-keyword, .hljs-title {
    font-weight: normal;
}

/* Table of Contents */

#toc {
    margin-top: 16px;
    margin-left: 20px;
}

#toc ul > li > ul > li > ul > li > ul {
    display: none;
}

/* Headers & Anchors */

.anchor-highlight {
    font-size: 75%;
    margin-left: 0.25em;
}

.anchor-highlight > a {
    margin: 0 5px;
}

a.header-link {
    color: inherit;
}

/* Align first header underneath the navbar */

h1:nth-of-type(n + 2):before, h2:before, h3:before {
    display: block;
    content: " ";
    margin-top: 0;
    height: 25px;
    visibility: hidden;
}

.post > p:first-child, .post > h1:first-of-type {
    margin-top: 0;
}

/* FontAwesome icons */

span.icon {
    font-family: FontAwesome;
}

#nav\:documentation:before {
    font-family: FontAwesome;
    content: "\f02d";
    margin-right: 7px;
}

#nav\:installation:before {
    font-family: FontAwesome;
    content: "\f0ed";
    margin-right: 7px;
}

#nav\:faq:before {
    font-family: FontAwesome;
    content: "\f059";
    margin-right: 7px;
}

#nav\:playground:before {
    font-family: FontAwesome;
    content: "\f1e3";
    margin-right: 7px;
}

#nav\:flashextracttext:before {
    font-family: FontAwesome;
    content: "\f0f6";
    margin-right: 7px;
}

#nav\:flashextractweb:before {
    font-family: FontAwesome;
    content: "\f121";
    margin-right: 7px;
}

#nav\:core:before {
    font-family: FontAwesome;
    content: "\f0e7";
    margin-right: 7px;
}

#nav\:flashfill:before {
    font-family: FontAwesome;
    content: "\f0ce";
    margin-right: 7px;
}

#nav\:api-documentation:before {
    font-family: FontAwesome;
    content: "\f02d";
    margin-right: 10px;
}

#nav\:products:before {
    font-family: FontAwesome;
    content: "\f17a";
    margin-right: 10px;
}

#nav\:research:before {
    font-family: FontAwesome;
    content: "\f0c3";
    margin-right: 10px;
}

#nav\:about-us:before {
    font-family: FontAwesome;
    content: "\f0c0";
    margin-right: 10px;
}

/* Individual pages */

.about-row {
    margin-top: 30px;
    padding-left: 30px;
}

.about-image {
    border-radius: 50%;
    height: auto;
    width: auto;
    max-width: 160px;
    max-height: 160px;
}
