html {
    height: 100%;
}

html, body {
    font-size: 1em;
    color: #777;
    min-height: 100%;
    line-height: 1.6em;
}

html, body, button, input, select, textarea,
.pure-g [class *= "pure-u"], .text-font {
    font-family: Lato, sans-serif;
}

* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

a {
    color: #3da6d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

blockquote {
    padding: 7px 20px;
    margin: 0 0 20px;
    font-size: 1em;
    border-left: 3px solid #999;
    line-height: 1.5;
}

blockquote p:first-child,
blockquote ul:first-child,
blockquote ol:first-child {
    margin-top: 0;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
    margin-bottom: 0;
}

blockquote footer,
blockquote small,
blockquote .small {
    display: block;
    font-size: 0.8em;
    line-height: 1.42857143;
    color: #777;
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
    content: '\2014 \00A0';
}

.mb-1 {
    margin-bottom: -1rem;
}

.hyphenate {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.semibold {
    font-weight: 500;
}

.flip-vertical {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

#markdown-toc ul {
    margin: 0;
}

/* Headers */

h1 {
    font-weight: 500;
}

.header h1 {
    font-family: Raleway, Lato, sans-serif;
}

h2, h3, h4, h5, h6 {
    font-weight: 300;
}

blockquote {
    font-size: 1em;
}

.content {
    padding: 2em;
}

.content > #toc-wrapper + p {
    margin-top: 0;
}

.header {
    padding-top: 1em;
    padding-bottom: 1em;
}

#toc-wrapper {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: hsl(0, 0%, 98%);
}

a.header-link {
    margin-left: 12px;
    color: #aaa;
    font-weight: 300;
    visibility: hidden;
}

h1:hover a.header-link, h2:hover a.header-link, h3:hover a.header-link,
h4:hover a.header-link, h5:hover a.header-link, h6:hover a.header-link {
    visibility: visible;
}

/* Code */

code {
    color: inherit;
    background-color: hsl(0, 0%, 95%);
    padding: 1px 4px;
    font-size: 0.9em;
    font-family: Consolas, "Source Code Pro", Inconsolata, "Courier New", monospace;
}

pre {
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 0.9em;
    line-height: 1.3;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 4px;
    border: 1px solid #e4decb;
}

pre code {
    padding: 0;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code,
#markdown-toc code {
    background-color: inherit;
    padding: 0 !important;
}

.token.optional-start, .token.optional-end {
    color: #aaa;
    font-size: 1.2em;
}

.token.optional-end::after {
    position: relative;
    top: 0.5em;
    margin-left: -1px;
    font-size: 0.6em;
    font-style: italic;
    content: 'opt';
}

pre div.toolbar {
    width: 100%;
    font-family: Lato, sans-serif;
}

pre div.toolbar .toolbar-item:first-child {
    -ms-transform: translate(0.2em, -0.5em);
    -webkit-transform: translate(0.2em, -0.5em);
    transform: translate(0.2em, -0.5em);
}

pre div.toolbar .toolbar-item:first-child span {
    font-family: Consolas, "Source Code Pro", Inconsolata, "Courier New", monospace;
    color: #af902f;
    -webkit-border-radius: 0 0 8px 0;
    -moz-border-radius: 0 0 8px 0;
    border-radius: 0 0 8px 0;
}

pre div.toolbar .toolbar-item:last-child a::before {
    content: '\f24d';
    font-family: FontAwesome;
    padding-right: .3em;
}

pre div.toolbar .toolbar-item a,
pre div.toolbar .toolbar-item button {
    background: #f5f5f5;
    box-shadow: 1px 1px 0 0 #ccc;
}

/* MathJax */

code.has-jax {
    font: inherit;
    font-size: 1em;
    background: inherit;
    border: inherit;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

/* Footnotes */

a.footnote {
    padding-left: 1px;
}

a.footnote:before {
    content: "[";
}

a.footnote:after {
    content: "]";
}

a.reversefootnote {
    margin-left: 5px;
}

.footnotes {
    border-top: 1px solid #ddd;
    margin-top: 3em;
    padding-top: .5em;
}

.footnotes li {
    padding-left: .5em;
}

/* Footer */

#layout {
    height: 100vh;
}

#footer {
    padding: 0.6em 0;
    background: #fafafa;
    font-size: 0.9em;
    border-top: 1px solid #eee;
    margin-top: 3em;
    width: 100%;
}

/* Menu */

#menu a {
    padding: 0.5em 0 0.5em 0.7em;
}

#menu a:hover {
    text-decoration: none;
}

#menu .pure-menu-children {
    display: none;
    font-size: 1rem;
}

#menu .pure-menu-active > .pure-menu-children, #menu .pure-menu-allow-hover:hover > .pure-menu-children {
    position: static;
    display: inline-block;
}

#menu .pure-menu-active > .pure-menu-link {
    background-color: transparent;
}

#menu .pure-menu-link:focus, #menu .pure-menu-link:hover {
    background-color: #333;
}

#menu a.pure-menu-heading {
    font-family: Merriweather, serif;
    font-weight: 400;
    background: inherit;
    padding: 0.6em 0 0.6em 0.7em;
    font-size: 1.4em;
    color: #eeeeee;
}

#menu a.pure-menu-heading.pure-menu-selected {
    background: #1f8dd6;
}

#menu .pure-menu-selected li:not(.pure-menu-selected) a {
    color: #999;
}

#menu {
    font-family: Raleway, Lato, sans-serif;
    font-size: larger;
    overflow-y: auto;
    overflow-x: hidden;
}

.menu-item-disabled {
    padding: 0.5em 0 0.5em 0.7em;
    color: #eee;
    font-family: Merriweather, serif;
    font-size: 1.2em;
}

#menu .pure-menu-children {
    background: inherit;
}

#menu ul.pure-menu-children {
    border: none !important;
    background-color: #191818;
    width: 100%;
}

#menu ul.pure-menu-children li a {
    padding: 0.5em 0 0.5em 2em;
}

#menu .pure-menu-has-children > .pure-menu-link:after {
    padding-left: .5em;
    content: "\f054";
    font-family: FontAwesome;
    font-size: small;
}

#menu .pure-menu-has-children.pure-menu-active > .pure-menu-link:after, #menu .pure-menu-has-children.pure-menu-allow-hover:hover > .pure-menu-link:after {
    padding-left: .5em;
    content: "\f078";
    font-family: FontAwesome;
    font-size: small;
}

#menu .pure-menu ul, #menu .pure-menu .menu-item-divided {
    border-top: 1px solid #444;
}

/* Team page */

.about-row {
    margin-top: 30px;
    padding-left: 30px;
}

.about-image {
    border-radius: 50%;
    height: auto;
    width: auto;
    max-width: 160px;
    max-height: 160px;
}

/* Index page */
.title, .subtitle {
    font-family: Raleway, Lato, sans-serif;
}

.title {
    font-size: 2.5em;
    line-height: 1.1em;
}

h2.subtitle {
    font-size: 1.19em;
}

span.title-blue {
    color: #1f8dd6;
}

/* Popups */

/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

.mfp-bottom-bar {
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    cursor: auto;
    font-size: 1.2em;
}

.mfp-title {
    text-align: center;
}
