---
layout:
---
<!DOCTYPE html>
<html lang="en">
{% include header.html %}
<body id="bootstrap-overrides">

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_title">Microsoft Program Synthesis using Examples SDK</h1>
          <h2 id="project_tagline"> The Program Synthesis using Examples (PROSE) SDK includes a set of technologies for the automatic generation of programs from input-output examples. This repo includes samples and sample data for the Microsoft PROSE SDK.</h2>

        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <div id="main_content" class="inner">
        
        
        <div class="container">
          <div class="col-left">
            <h3> <strong>&gt;</strong>&nbsp;&nbsp;&nbsp; <a href="https://www.nuget.org/packages/Microsoft.ProgramSynthesis/">Latest Release</a></h3> 
            <p>Want to see a quick summary of the release highlights? 
              Visit the <a href="">Updates</a> section to learn more about the PROSE SDK
              and the feature set available in our latest release.</p>
          </div>  
          <div class="col-right">
            <h3> <strong>&gt;</strong>&nbsp;&nbsp;&nbsp; <a href="https://prose-playground.cloudapp.net/">Playground</a></h3> 
            <p>The PROSE playground is an interface to experiment with 
              domain-specific languages for extracting and transforming data. 
              It is built on top of the PROSE SDK. </p>
            
          </div>
        </div>
      <div class="container">
          <div class="col-left">
            <p></p>
          </div>  
          <div class="col-right-no-border">
            <p></p>
          </div>
        </div>
        <div class="container">
          <div class="col-left">
            <h3> <strong>&gt;</strong>&nbsp;&nbsp;&nbsp; <a href="./documentation/prose/tutorial/">Getting Started</a></h3>
            <p>Everything you need to know to get up and running with the PROSE 
              SDK in a quick and easy tutorial. This section will walk you through
              all the steps required to build a DSL in PROSE and enable program synthesis for it.</p>
          </div>  
          <div class="col-right">
            <h3> <strong>&gt;</strong>&nbsp;&nbsp;&nbsp; <a href="./documentation/prose/tutorial/">Documentation</a></h3>
            Learn more about the PROSE SDK.
            <ul>
              <li><a href="./faq/">FAQ</a></li>
              <li><a href="./documentation/prose/usage/">Base SDK</a></li>
              <li><a href="./documentation/extraction-text/intro/">Extract Text</a> </li>
              <li><a href="./documentation/extraction-web/intro/">Extract Web</a> </li>
              <li><a href="./documentation/flashfill/intro/">Flash Fill</a> </li>
              <li><a href="https://github.com/Microsoft/prose/">Sample projects</a> </li>
              <li><a href="./documentation/api/">API Documentation</a> </li>
            </ul>
           
          </div>
        </div>
              <div class="container">
          <div class="col-left">
            <p></p>
          </div>  
          <div class="col-right-no-border">
            <p></p>
          </div>
        </div>
       
        
        <div class="end-main">
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
    

{% include footer.html %}


</body>
</html>
