<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Local" value="../nuget/bin" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ProseToolset" value="https://msdata.pkgs.visualstudio.com/_packaging/PROSE_Toolset/nuget/v3/index.json" />
    <add key="Prose" value="https://msdata.pkgs.visualstudio.com/_packaging/PROSE/nuget/v3/index.json" />
    <add key="TLCRelease" value="https://msdata.pkgs.visualstudio.com/_packaging/TLC_Release/nuget/v3/index.json"/>
  </packageSources>
</configuration>
