<div id="footer_wrap" class="outer">
    <footer class="inner">
        <p class="copyright">
        <table class="foot-table center-block">
            <tr>
                <td><a href="{{ site.baseurl }}/team/">About Us</a></td>
                <td><a href="https://www.microsoft.com/en-us/privacystatement/default.aspx">Privacy & Cookies</a></td>
                <td>
                    <a href="http://www.microsoft.com/en-us/legal/intellectualproperty/trademarks/en-us.aspx">Trademark</a>
                </td>
                <td><a href="http://www.microsoft.com/en-us/legal/intellectualproperty/copyright/default.aspx">Terms of
                    Use</a></td>
                <td>&copy; Microsoft</td>
            </tr>
        </table>
        </p>
    </footer>
</div>
