<div id="footer">
    <div class="max-width-3 mx-auto">
        <div class="pure-g center">
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-6 py1">
                <a href="{{ site.baseurl }}/team/">About Us</a>
            </div>
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-6 py1">
                <a href="mailto:prose-contact@microsoft.com">Contact Us</a>
            </div>
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-6 py1">
                <a href="https://www.microsoft.com/en-us/privacystatement/default.aspx">Privacy &amp; Cookies</a>
            </div>
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-6 py1">
                <a href="http://www.microsoft.com/en-us/legal/intellectualproperty/trademarks/en-us.aspx">Trademark</a>
            </div>
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-6 py1">
                <a href="https://prose-playground.cloudapp.net/data/SDKLicense.pdf">Terms of Use</a>
            </div>
            <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-6 py1">&copy; Microsoft</div>
        </div>
    </div>
</div>

