<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>{{ site.Title }}{% if page.title %} &ndash; {{ page.title }}{% endif %}</title>
<meta name="description" content="Microsoft PROSE is a framework of technologies for automatic generation of programs from input-output examples, keywords, and similar forms of imprecise specification. In PROSE, you define a domain-specific language (DSL) of programs that constitute your domain of useful tasks (e.g. a DSL of CSS selectors). At runtime, you give PROSE some (typically user-provided) input-output examples for the desired program’s behavior, and its algorithms synthesize a ranked set of programs from this DSL that are consistent with the given examples. These programs can be saved and applied on similar user data after one learning session (typically with 1-4 examples). PROSE can be used to enable programming-by-example experience in an arbitrary user-facing application, provided the app developer describes its application domain in a DSL form.

          As part of the project, the PROSE framework includes a set of specific technologies for various data wrangling domains. These include FlashFill, a library of string transformations from Microsoft Excel 2013, text extraction library with a DSL of programs that find a desired sequence of regions in a textual file, and a web extraction library with a CSS-based DSL of programs that select a set of elements on a web page. All three data wrangling libraries, as well as the underlying program synthesis framework, can currently be used out of the box for research, education, and other non-commercial initiatives.">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon-16x16.png" sizes="16x16">

<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i|Raleway:300,300i,400,400i|Merriweather&amp;subset=latin-ext"
      crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous">

<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css"
      integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
<!--[if lte IE 8]>
<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
<!--<![endif]-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
      crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
      crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/ace-css/css/ace.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="{{ site.baseurl }}/static/styles.min.css">

