<!-- .modal-profile -->
<script src="{{ site.baseurl }}/js/lightbox.js"></script>
<div class="modal fade modal-profile" tabindex="-1" role="dialog" aria-labelledby="modalProfile" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <p></p>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<!-- //.modal-profile -->
