{% capture class_selected %}{% if page.path == "index.liquid.html" %} pure-menu-selected {% else %}{% endif %}{% endcapture %}

<a class="pure-menu-heading {{ class_selected }}" href="{{ site.baseurl }}/">
    <i class="fa fa-bolt" aria-hidden="true"></i> PROSE SDK
</a>

<ul class="pure-menu-list">
    {% include menu-item.liquid.html url="/documentation/prose/tutorial" %}
    {% include menu-item.liquid.html url="/faq" %}
</ul>

<h2 id="demos" class="pure-menu-heading">Demos</h2>
<ul class="pure-menu-list" aria-labelledby="demos">    
    {% include menu-item.liquid.html absolute=true url="https://prose-splittext.azurewebsites.net" title="Text Splitting" %}
</ul>

<h2 id="videos" class="pure-menu-heading">Videos</h2>
<ul class="pure-menu-list" aria-labelledby="videos">    
    {% include menu-item.liquid.html absolute=true url="https://databricks.com/session/programming-by-examples" title="Overview" %}
    {% include menu-item.liquid.html url="/demo/prose-showcase" title="PROSE Showcase" %}
    {% include menu-item.liquid.html absolute=true url="https://www.youtube.com/watch?v=w-k9WjRJvIY" title="Flash Fill/Extract" %}
    {% include menu-item.liquid.html absolute=true url="https://www.youtube.com/watch?v=XWRsxy8SbzY" title="Data Wrangling" %}
</ul>

<h2 id="proseFramework" class="pure-menu-heading">Prose Framework</h2>
<ul class="pure-menu-list" aria-labelledby="proseFramework">    
    {% include menu-item.liquid.html url="/documentation/prose/syntax" %}
    {% include menu-item.liquid.html url="/documentation/prose/backpropagation" %}
    {% include menu-item.liquid.html url="/documentation/prose/concepts" %}
    {% include menu-item.liquid.html url="/documentation/prose/usage" %}
    {% include menu-item.liquid.html url="/documentation/prose/interactivity" %}
</ul>

<h2 id="textExtraction" class="pure-menu-heading">Text Extraction</h2>
<ul class="pure-menu-list" aria-labelledby="textExtraction">    
    {% include menu-item.liquid.html url="/documentation/extraction-text/intro" title="Introduction" %}
    {% include menu-item.liquid.html url="/documentation/extraction-text/usage" title="Usage" %}
</ul>

<h2 id="textSplitting" class="pure-menu-heading">Text Splitting</h2>
<ul class="pure-menu-list" aria-labelledby="textSplitting">    
    {% include menu-item.liquid.html url="/documentation/split-text/intro" title="Introduction" %}
    {% include menu-item.liquid.html url="/documentation/split-text/usage" title="Usage" %}
</ul>

<h2 id="textTransformation" class="pure-menu-heading">Text Transformation</h2>
<ul class="pure-menu-list" aria-labelledby="textTransformation">    
    {% include menu-item.liquid.html url="/documentation/transformation-text/intro" title="Introduction" %}
    {% include menu-item.liquid.html url="/documentation/transformation-text/usage" title="Usage" %}
</ul>

<h2 id="matchingText" class="pure-menu-heading">Matching Text</h2>
<ul class="pure-menu-list" aria-labelledby="matchingText">
    {% include menu-item.liquid.html url="/documentation/matching-text/intro" title="Introduction" %}
    {% include menu-item.liquid.html url="/documentation/matching-text/usage" title="Usage" %}
</ul>

<h2 id="jsonExtraction" class="pure-menu-heading">Json Extraction</h2>
<ul class="pure-menu-list" aria-labelledby="jsonExtraction">    
    {% include menu-item.liquid.html url="/documentation/extraction-json/intro" title="Introduction" %}
    {% include menu-item.liquid.html url="/documentation/extraction-json/usage" title="Usage" %}
</ul>

<h2 id="jsonTransformation" class="pure-menu-heading">Json Transformation</h2>
<ul class="pure-menu-list" aria-labelledby="jsonTransformation">    
    {% include menu-item.liquid.html url="/documentation/transformation-json/intro" title="Introduction" %}
    {% include menu-item.liquid.html url="/documentation/transformation-json/usage" title="Usage" %}
</ul>

<ul class="pure-menu-list">
    {% include menu-item.liquid.html url="https://github.com/Microsoft/prose" title="Samples" absolute=true %}
    {% include menu-item.liquid.html url="/resources" %}
	{% include menu-item.liquid.html url="/impact" %}
    {% include menu-item.liquid.html url="/team" %}
</ul>
