
<p><a href="{{ site.baseurl }}/">Home</a></p>
<p><a href="{{ site.baseurl }}/playground">Playground</a></p>

<p>
	Tutorials
<ul>
	<li><a href="{{ site.baseurl }}/documentation/prose/tutorial">Getting Started</a></li>
</ul>
</p>
<p>
	Documentation
	<ul>
		<li><a href="{{ site.baseurl }}/documentation/prose/usage">Framework</a></li>
		<li><a href="{{ site.baseurl }}/documentation/extraction-text/intro">Text Extraction</a></li>
		<li><a href="{{ site.baseurl }}/documentation/extraction-web/intro">Web Extraction</a></li>
		<li><a href="{{ site.baseurl }}/documentation/flashfill/intro">Flash Fill</a></li>
		<li><a href="{{ site.baseurl }}/documentation/api">APIs</a></li>
	</ul>
</p>
<p><a href="{{ site.baseurl }}/team/">About Us</a></p>
<p><a href="{{ site.baseurl }}/faq/">FAQ</a></p>
