/* Navbar */

#leftNav {
    clear: left;
    float: left;
    width: 200px;
    padding-left: 5px;
    padding-top: 85px;
    line-height: normal;
    font-size: 20px;
    background-color: inherit;
    border: none;
}

#leftNav a {
    color: darkslategray;
}

#leftNav .dropdown li, #leftNav .dropdown ul, #leftNav .dropdown a {
    background-color: inherit;
    border: none;
}

#navbarToggle {
    width: auto;
    background-color: inherit;
    border: none;
    padding-top: 85px;
    padding-left: 5px;
}

@media (min-width: 768px) {
    .topicContent {
        padding-left: 200px;
    }
}

@media (max-width: 767px) {
    .topicContent {
        padding-left: 45px;
    }
    #leftNav {
        background-color: #F2F2F2;
        z-index: 1050;
    }
}

/* Footnotes */

a.footnote-return {
    margin-left: 5px;
}

a[rel="footnote"]:before {
    content: "[";
}

a[rel="footnote"]:after {
    content: "]";
}

/* MathJax */

code.has-jax {
    font: inherit;
    font-size: 100%;
    background: inherit;
    border: inherit;
    color: #515151;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

/* Table of Contents */

#toc {
    margin-top: 16px;
    margin-left: 20px;
}

#toc ul > li > ul > li > ul > li > ul {
    display: none;
}

@media (max-width: 768px) {
    #toc {
        width: 100%;
    }
}

/* Code Highlighting */

.hljs-keyword, .hljs-title {
    font-weight: normal;
}

/* Align first header underneath the title */

h1:nth-of-type(n + 2):before, h2:before, h3:before {
    display: block;
    content: " ";
    margin-top: 0;
    height: 25px;
    visibility: hidden;
}

.topicContent > p:first-child, .topicContent > h1:first-of-type {
    margin-top: 0;
}

/* Individual pages */

.about-row {
    margin-top: 30px;
    padding-left: 30px;
}

.about-image {
    border-radius: 50%;
    height: auto;
    width: auto;
    max-width: 160px;
    max-height: 160px;
}