
<p><a href="{{ .Site.BaseURL }}">Home</a></p>
<p><a href="{{ .Site.BaseURL }}playground">Playground</a></p>

<p>
	Tutorials
<ul>
	<li><a href="{{ .Site.BaseURL }}documentation/prose/tutorial">Getting Started</a></li>
</ul>
</p>
<p>
	Documentation
	<ul>
		<li><a href="{{ .Site.BaseURL }}documentation/prose/usage">Framework</a></li>
		<li><a href="{{ .Site.BaseURL }}documentation/extraction-text/intro">Text Extraction</a></li>
		<li><a href="{{ .Site.BaseURL }}documentation/extraction-web/intro">Web Extraction</a></li>
		<li><a href="{{ .Site.BaseURL }}documentation/flashfill/intro">Flash Fill</a></li>
		<li><a href="{{ .Site.BaseURL }}documentation/api">APIs</a></li>
	</ul>
</p>
<p><a href="{{ .Site.BaseURL }}team/">About Us</a></p>
<p><a href="{{ .Site.BaseURL }}faq/">FAQ</a></p>
