<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    {% include header.liquid.html %}
</head>
<body>
{% include page-header.liquid.html %}

<div id="layout">
    <a class="skip-main" href="#main">Skip to main content</a>

    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link" aria-label="Menu">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <nav id="menu">
        <div class="pure-menu">
            {% include menu.liquid.html %}
        </div>
    </nav>

    <div role="main" id="main">
        {% unless page.path == "index.liquid.html" %}
        <div class="header">
            <h1>{{ page.title }}</h1>
        </div>
        {% endunless %}

        <div id="contentWrapper" class="flex flex-column items-center">
            {% assign exceptions = "index.liquid.html; team.md" | split:"; " %}
            {% capture class_article %}{% unless exceptions contains page.path %} article {% endunless %}{% endcapture %}
            <div class="content {{ class_article }}">
                {{ content }}
            </div>

            {% include footer.liquid.html %}
        </div>
    </div>
</div>

</body>
</html>
