<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    {% include header.liquid.html %}
</head>
<body class="flex flex-column">
{% include page-header.liquid.html %}

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            {% include menu.liquid.html %}
        </div>
    </div>

    <div id="main">
        {% unless page.path == "index.liquid.html" %}
        <div class="header">
            <h1>{{ page.title }}</h1>
        </div>
        {% endunless %}

        <div class="content clearfix">
            {{ content }}
        </div>
    </div>
</div>

{% include footer.liquid.html %}
</body>
</html>
